@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:wght@100;300;400;500;700;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    .gradient-transparent {
        background: rgb(20, 61, 0);
        background: linear-gradient(
            90deg,
            rgba(20, 61, 0, 1) 0%,
            rgba(19, 121, 9, 1) 42%,
            rgba(107, 171, 105, 0) 100%
        );
    }

    .gradient {
        background: rgb(20, 61, 0);
        background: linear-gradient(
            90deg,
            rgba(20, 61, 0, 1) 0%,
            rgba(19, 121, 9, 1) 42%,
            rgba(107, 171, 105, 1) 100%
        );

        /* background: linear-gradient(90deg, #d53369 0%, #daae51 100%); */
    }

    body {
        @apply leading-normal tracking-normal text-black;

        font-family: "Roboto", sans-serif;
    }

    h1 {
        font-family: "Poppins", sans-serif;
        @apply text-2xl font-semibold;
    }

    h2 {
        font-family: "Poppins", sans-serif;
        @apply text-xl font-semibold;
    }

    h3 {
        font-family: "Poppins", sans-serif;
        @apply text-lg font-medium;
    }

    p + h2 {
        font-family: "Poppins", sans-serif;
        @apply pt-4;
    }
}

@layer components {
    .hero-fade {
        @apply gradient-transparent;
        height: 36rem;
    }
}
