@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    .gradient-transparent {
        background: rgb(20, 61, 0);
        background: linear-gradient(
            90deg,
            rgba(20, 61, 0, 1) 0%,
            rgba(19, 121, 9, 1) 42%,
            rgba(107, 171, 105, 0) 100%
        );
    }

    .gradient {
        background: rgb(20, 61, 0);
        background: linear-gradient(
            90deg,
            rgba(20, 61, 0, 1) 0%,
            rgba(19, 121, 9, 1) 42%,
            rgba(107, 171, 105, 1) 100%
        );

        /* background: linear-gradient(90deg, #d53369 0%, #daae51 100%); */
    }

    body {
        @apply leading-normal tracking-normal text-black;

        font-family: "Source Sans Pro", sans-serif;
    }

    h1 {
        @apply text-2xl;
    }

    h2 {
        @apply text-xl;
    }

    h3 {
        @apply text-lg;
    }

    p + h2 {
        @apply pt-4;
    }
}

@layer components {
    .hero-fade {
        @apply gradient-transparent;
        height: 36rem;
    }
}
